<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>showListofProcesses</servlet-name>
        <servlet-class>org.powershelloutput.showListofProcesses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toHome</servlet-name>
        <servlet-class>toHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reloadProcesses</servlet-name>
        <servlet-class>org.powershelloutput.reloadProcesses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDiskUsage</servlet-name>
        <servlet-class>org.powershelloutput.showDiskUsage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMemoryUsageChart</servlet-name>
        <servlet-class>org.powershelloutput.loadMemoryUsageChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCPUUsageChart</servlet-name>
        <servlet-class>org.powershelloutput.loadCPUUsageChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCPUUsage</servlet-name>
        <servlet-class>org.powershelloutput.showCPUUsage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showWebServices</servlet-name>
        <servlet-class>org.powershelloutput.showWebServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setServiceToStop</servlet-name>
        <servlet-class>org.powershelloutput.setServiceToStop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setServiceToStart</servlet-name>
        <servlet-class>org.powershelloutput.setServiceToStart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadDumpFile</servlet-name>
        <servlet-class>org.powershelloutput.downloadDumpFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDatabases</servlet-name>
        <servlet-class>org.powershelloutput.showDatabases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>toExportPage</servlet-name>
        <servlet-class>org.powershelloutput.toExportPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showListofProcesses</servlet-name>
        <url-pattern>/showListofProcesses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toHome</servlet-name>
        <url-pattern>/toHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reloadProcesses</servlet-name>
        <url-pattern>/reloadProcesses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDiskUsage</servlet-name>
        <url-pattern>/showDiskUsage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMemoryUsageChart</servlet-name>
        <url-pattern>/loadMemoryUsageChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCPUUsageChart</servlet-name>
        <url-pattern>/loadCPUUsageChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showCPUUsage</servlet-name>
        <url-pattern>/showCPUUsage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showWebServices</servlet-name>
        <url-pattern>/showWebServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setServiceToStop</servlet-name>
        <url-pattern>/setServiceToStop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setServiceToStart</servlet-name>
        <url-pattern>/setServiceToStart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadDumpFile</servlet-name>
        <url-pattern>/downloadDumpFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDatabases</servlet-name>
        <url-pattern>/showDatabases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>toExportPage</servlet-name>
        <url-pattern>/toExportPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
